html {
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	font-size: 1rem;
	min-width: 320px;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #ababab;
	background-image: url("../images/bg-ashbardhan-10.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	animation-name: bg-image-shuffle;
	animation-duration: 50s;
	animation-iteration-count: infinite;
}

h1, h2 {
	text-align: center;
	margin: 0.25em 0;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.5rem;
}

header {
	margin: 2rem auto 0;
	letter-spacing: 0.3em;
}

footer {
	position: absolute;
	bottom: 0;
	margin: 2rem auto;
	text-align: center;
	width: 100%;
}

footer a {
	margin: 1rem;
	text-decoration: none;
	display: inline-block;
}

.icon {
	width: 2rem;
	height: 2rem;
	display: inline-block;
	fill: rgba(255, 255, 255, 0.75);
}

.icon:hover {
	fill: rgba(255, 255, 255, 1);
}

@keyframes bg-image-shuffle {
	10% { background-image: url("../images/bg-ashbardhan-1.jpg"); color: #ababab; }
	20% { background-image: url("../images/bg-ashbardhan-2.jpg"); color: #f1f1f1; }
	30% { background-image: url("../images/bg-ashbardhan-3.jpg"); color: #f1f1f1; }
	40% { background-image: url("../images/bg-ashbardhan-4.jpg"); color: #ababab; }
	50% { background-image: url("../images/bg-ashbardhan-5.jpg"); color: #f1f1f1; }
	60% { background-image: url("../images/bg-ashbardhan-6.jpg"); color: #f1f1f1; }
	70% { background-image: url("../images/bg-ashbardhan-7.jpg"); color: #ababab; }
	80% { background-image: url("../images/bg-ashbardhan-8.jpg"); color: #ababab; }
	90% { background-image: url("../images/bg-ashbardhan-9.jpg"); color: #f1f1f1; }
	100% { background-image: url("../images/bg-ashbardhan-10.jpg"); color: #ababab; }
}

@media (max-width: 768px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 992px) {
	html {
		font-size: 14px;
	}
}